@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
	margin: 0;
	font-family: 'Roboto', 'Verdana', sans-serif !important;
	-webkit-font-smoothing: antialiased;
	background: #f4f5f7 !important;
}

.bg-dark {
	background: rgba(31, 66, 146, 1) !important;
	box-shadow: 0 4px 20px -18px #111 !important;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.jumbotron {
	background: rgba(31, 66, 146, 1) !important;
	border-radius: 0 !important;
	color: #fff !important;
}
