body {
	margin: 0;
	font-family: 'Lato', sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #f4f5f7 !important;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 400;
}

.orange {
	background: #d15222 !important;
}

table,
table tr {
	border-radius: 0 !important;
	border: 1px solid #eee !important;
}

.container {
	padding: 0 20px;
}

.ui.dropdown > .text,
.ui.menu .item > i.dropdown.icon {
	color: white !important;
}
