@font-face {
	font-family: 'Monet';
	src: local('Monet'), url(./assets/fonts/monet.ttf);
}

* {
	/* Newer MONET Colors */
	--light-blue: #d6e5f5;
	--light-orange: #feaf9a;
	--light-green: #8deeb1;
	--light-grey: rgba(242, 245, 248, 0.3);

	--lighter-orange: #fba58a;

	/* Older MONET Colors */
	--blue: #253c99;
	--orange: #f16622;
	--green: #02a24b;
	--red: #ec1c24;
	--purple: #7f3b97;
	--yellow: #ffe014;
	--black: #1d2124;

	/* Breakpoints */
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background: #fff;
	font-family: 'Monet Main', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5 {
}

b {
	font-weight: 500;
}

a {
	color: var(--blue);
}

input {
	padding: 20px !important;
	font-size: 16px !important;
}

hr {
	border-color: #1b2d75 !important;
	margin: 40px 0 !important;
}

hr.light {
	border-color: var(--light-blue) !important;
}
