@font-face {
	font-family: 'Monet';
	src: local('Monet'), url(./assets/fonts/monet.ttf);
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background: #fff;
	font-family: 'Monet Main', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5 {
}

b {
	font-weight: 500;
}

a {
	color: var(--blue);
}

code {
	font-size: 13px;
	color: var(--black);
}

input {
	padding: 20px !important;
	font-size: 16px !important;
}

hr {
	border-color: #1a2d7a6c !important;
	margin: 40px 0 !important;
}

hr.light {
	border-color: var(--light-blue) !important;
}

hr.smaller {
	margin: 15px 0 !important;
}
