.monet {
	font-family: Monet !important;
	letter-spacing: 4px;
}

.cta {
	padding: 10px 35px !important;
	display: inline-block;
	height: 46px;
	padding: 10px 35px;
	border-radius: 3px;
	transition: all 0.2s ease;
	line-height: 26px;
	letter-spacing: 2px;
	margin: 5px 0;
}

.mono {
	font-family: 'Fira Code', monospace !important;
	font-size: 13px !important;
	word-wrap: break-word !important;
}

.preheader {
	margin-top: 0;
	font-size: 14px !important;
	line-height: 20px;
	text-transform: uppercase;
	display: inline-block;
	font-weight: 600;
	letter-spacing: 2px;
	margin-bottom: 25px;
	/* padding-bottom: 10px; */
	/* border-bottom: 3px solid var(--blue); */
}
