@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
	margin: 0;
	font-family: 'Lato', 'Verdana', sans-serif !important;
	-webkit-font-smoothing: antialiased;
	font-size: 15px !important;
	background: #fff !important;
}

.bg-dark {
	background: rgba(31, 66, 146, 1) !important;
	box-shadow: 0 4px 20px -18px #111 !important;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	margin-bottom: 20px;
}

.jumbotron {
	background: rgba(31, 66, 146, 1) !important;
	border-radius: 0 !important;
	color: #fff !important;
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: rgba(0, 0, 0, 0.02) !important;
}
.table thead th {
	border-bottom: 1px solid #FAFAFA !important;
}

.table td,
.table th {
	border-top: 1px solid #FAFAFa !important;
}
